{% load cms_tags sekizai_tags %}
        <div class="embedded-page row"
             id="{{ page.get_slug }}"
             data-page-id="{{ page.get_slug }}"
             data-placeholders="{{ page.placeholders.all|join:', ' }}">

          <div class="header embedded-page-header">
            <h2 id="{{ page.get_title|slugify }}">{{ page.get_title }}</h2>
            <a class="hash" name="#{{ page.get_title|slugify }}"></a>
          </div>

          <div class="content embedded-page-content">
            {% for placeholder in page.placeholders.all %}{% spaceless %}
              <div class="embedded-page-placeholder"
                   data-placeholder-id="{{ placeholder.id }}"
                   data-placeholder-slot="{{ placeholder.slot }}">
                  {% show_uncached_placeholder placeholder.slot  page.id %}
              </div>
            {% endspaceless %}{% endfor %}
          </div>

        </div>
